%section.cta
  .grid-container.app-e--full-height
    .grid-x.grid-padding-x.app-e--full-height.align-center-middle
      .cell.large-6.text-center
        %h3.cta__text= link_to 'Browse our store', 'https://www.etsy.com/uk/shop/MapleandWhisky'
