%section.favourites
  .content
    .grid-container
      .grid-x.grid-padding-x.app-e--full-height.align-center-middle
        .cell.text-center
          %h1.favourites__title.underline--primary
            %span Our Favourites
        .cell
          %section.favourites-slider
            %div{ 'data-slick': 'favourites' }
              - favourites.each do |favourite|
                .favourites-slider__item{ style: "background-image: url(#{main_app.url_for(favourite.content(:image).variant(resize: '1920x1080'))})" }
                  .favourites-slider__text
                    .favourites-slider__name=  favourite.content(:name)
                    %h6.favourites-slider__description!=  favourite.content(:description)
