.cta {
  background-color: $primary-color;
  height: 120px;

  &__text a {
    color: $white;
    font-size: 2rem;

    @include breakpoint(small only) {
      font-size: 1.5rem;
    }

    &:hover {
      color: darken($white, 5%);
    }
  }
}
