.testimonials {
  background-color: $white;

  &__content {
    padding: 3rem 2rem;

    @include breakpoint(large) {
      padding: 0 3rem;
    }
  }

  &__author {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem 0;
  }

  .slick-arrow {
    background-image: url("images/arrow-blue.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    bottom: 0;
    font-size: 0;
    height: 20px;
    position: absolute;
    width: 20px;

    &.slick-next {
      left: 36px;
    }

    &.slick-prev {
      left: 0;
      transform: rotate(-180deg);
    }
  }
}
