.two-column {
  background-color: $white;

  &__title {
    color: $primary-color;
    margin-bottom: 2rem;
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    position: relative;

    @include breakpoint(small only) {
      height: 380px;
    }
  }

  &__text {
    color: $secondary-color;

    @include breakpoint(large) {
      padding-right: 3rem;
    }
  }
}

.left {
  padding: 3rem 2rem;

  @include breakpoint(large) {
    padding: 0 3rem;
  }
}
