.two-column {
  background-color: $white;
  
  &__title {
    color: $primary-color;
    margin-bottom: 2rem;
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    position: relative;

    @include breakpoint(small only) {
      height: 380px;
    }

    &:before {
      background-color: rgba($black, 0.2);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__text {
    color: $secondary-color;

    @include breakpoint(large) {
      padding-right: 3rem;
    }
  }
}

.left {
  padding: 3rem 2rem;

  @include breakpoint(large) {
    padding: 0 3rem;
  }
}
