%header.header#js-header(data-module='header')
  .grid-container
    .grid-x.grid-padding-x.align-middle.small-up-2
      .cell.text-left
        = link_to 'Contact', '#', class: 'link'
      .cell.text-right
        .header__action
          %button.menu-icon(type='button' data-toggle='menu')
