%header.header(data-module='header')
  .grid-container
    .grid-x.grid-padding-x.align-middle.small-up-2
      .cell.text-left.show-for-medium
        %h5= link_to 'Contact', '#', class: 'link'
      .cell.text-right
        .header__action
          %button.menu-toggle(type='button' data-toggle='menu')
            .menu-icon
              %span
              %span
              %span
