<div class="grid-container margin-top-3">
  <h1 class="margin-bottom-2">Welcome to your new app!</h1>
  <p>Remember to update your <code>routes.rb</code> and <code>pages_controller.rb</code> files.</p>
  <hr>
  <h2>Here are some useful links:</h2>
  <ul class="padding-left-2">
    <li>
      <%= link_to 'SpinaCMS', 'https://github.com/SpinaCMS/Spina', target: '_blank' %>
    </li>
    <li>
      <%= link_to 'Spina Articles', 'https://github.com/dankmitchell/spina-articles', target: '_blank' %>
    </li>
    <li>
      <%= link_to 'Spina Projects', 'https://github.com/dankmitchell/spina-projects', target: '_blank' %>
    </li>
    <li>
      <%= link_to 'Spina Inquiries', 'https://github.com/dankmitchell/spina-inquiries', target: '_blank' %>
    </li>
  </ul>
</div>
