@import "components/hero";
@import "components/cta";
@import "components/two-column";
@import "components/favourites";
@import "components/testimonials";
@import "components/instagram";
@import "components/products";
@import "components/scents";

@import "shared/header";
@import "shared/footer";

// @import "pages/";

// Avoid writing CSS in this file

.app-e--full-height {
  height: 100%;
}

.content {
  padding: 2rem 0;
  @include breakpoint(large) {
    padding: 4rem 0;
  }
}

.underline--primary {
  span {
    background-image: linear-gradient(transparent calc(99% - 2px), $primary-color 2px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }

  &:hover {
    span {
      background-size: 100%;
    }
  }
}

.underline--secondary {
  span {
    background-image: linear-gradient(transparent calc(99% - 2px), $secondary-color 2px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }

  &:hover {
    span {
      background-size: 100%;
    }
  }
}

.underline--white {
  span {
    background-image: linear-gradient(transparent calc(99% - 2px), $white 2px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }

  &:hover {
    span {
      background-size: 100%;
    }
  }
}

body {
  cursor: none;
}

#main-cursor {
  mix-blend-mode: difference;
  pointer-events: none;
  background: $white;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50px;
}

#follow-cursor {
  transition: all 0.1s ease, left 0.15s linear, top 0.15s linear;
  pointer-events: none;
  mix-blend-mode: difference;
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid white 2px;
  border-radius: 50px;
}
