- content_for :page_title, @page.seo_title
- content_for :page_description, @page.description

= render partial: 'components/hero'
= render partial: 'components/cta'
= render partial: 'components/two-column'
= render partial: 'components/favourites'
